if friends.length
  table.table.table-striped
    each friend in friends
      -var name = [friend.firstname, friend.lastname].join(' ')
      tr
        td
          div(class = ['user-avatar', 'user-status'])
            img(src="/user/avatar/" + friend.id, width="60", height="60" alt=name)
            div(class = 'user-' + friend.id + '-status')
              if friend.online
                span.user-status--online online
              else
                span.user-status--offline offline
        td.vmiddle= name
        td.vmiddle
          a.delete-friend(href="#", data-id=friend.id) Удалить
else
  span У Вас пока нет друзей