extends ../layout

block body
  .alert.alert-warning(role="alert")
    | Ваша учётная запись не активирована!
    | <a href="/user/activationEmail">Нажмите, чтобы повторно отправить ссылку для активации.</a>
