if requests.length
  table.table.table-striped
    each request in requests
      -var name = [request.firstname, request.lastname].join(' ')
      tr
        td
          div(class = ['user-avatar', 'user-status'])
            img(src="/user/avatar/" + request.username, width="60", height="60" alt=name)
            div(class = 'user-' + request.id + '-status')
              if request.online
                span.user-status--online online
              else
                span.user-status--offline offline
        td.vmiddle= name
        td.vmiddle
          a.accept(href="#", data-id=request.id) Принять
          br
          a.decline(href="#", data-id=request.id) Отклонить
else
  span Пока нет желающих стать Вашим другом